@import "tailwindcss";

@theme {
  /* Definisikan Warna PasarGerak disini */
  --color-pg-primary: #2E7D32;   /* Hijau */
  --color-pg-secondary: #F57C00; /* Oranye */
  --color-pg-accent: #FBC02D;    /* Kuning */
  --color-pg-info: #1976D2;      /* Biru */
  --color-pg-text: #424242;      /* Abu Gelap */
  --color-pg-bg: #F9FAFB;        /* Background */
}

/* Catatan: 
  Di v4, variable di atas otomatis menjadi class:
  bg-pg-primary, text-pg-accent, border-pg-info, dsb.
*/